<!DOCTYPE html>
<html>
<head>
<title>Vue js</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>

    <div id="root">
        <div class="container shadow-lg p-3 mb-5 bg-white rounded mt-5">
            <div class="row">
                <div class="col-md-6">
                   <p v-if="final_result"> Result: {{ final_result }}</p>
                    <br>
                    <p v-if="error">
                            Result: {{ error }}
                    </p>
                </div>
            </div>
            <div class="row  mt-4">
                <div class="col-md-6">
                   <input type="text" v-model="first" class="form-control">
                </div>
                <div class="col-md-6">
                    <input type="text" v-model="second" class="form-control">
               </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                        <button class="form-control btn btn-primary mt-3" type="button" @click="plus">+</button>
                </div>
                <div class="col-md-3">
                        <button class="form-control btn btn-success mt-3" type="button" @click="minus">-</button>
                </div>
                <div class="col-md-3"> 
                        <button class="form-control btn btn-warning mt-3" type="button" @click="into">*</button>
                </div>
                <div class="col-md-3">
                        <button class="form-control btn btn-info mt-3" type="button"  @click="divided">/</button>
                </div>
            </div>
        </div>
    </div>


   
    <script>
        new Vue({
           el:'#root',
           data:{
               first:'',
               second:'',
               result:'',
               error:'',
               final_result:''
           },
           methods:{
            plus:function(){
                   var first = Number(this.first);
                   var second = Number(this.second);
                   this.first='';
                   this.second='';
                   var result = first+second;
                   if(isNaN(result)){
                    this.final_result = '';
                      return this.error = 'please valid number';
                      
                   }else{
                    this.error ='';
                    return this.final_result = result;

                   }
                   
                   
               },

               minus:function(){
                   var first = Number(this.first);
                   var second = Number(this.second);
                   this.first='';
                   this.second='';
                   var result = first-second;
                   if(isNaN(result)){
                    this.final_result = '';
                      return this.error = 'please valid number';
                      
                   }else{
                    this.error ='';
                    return this.final_result = result;

                   }
                   
                   
               },

               into:function(){
                   var first = Number(this.first);
                   var second = Number(this.second);
                   this.first='';
                   this.second='';
                   var result = first*second;
                   if(isNaN(result)){
                    this.final_result = '';
                      return this.error = 'please valid number';
                      
                   }else{
                    this.error ='';
                    return this.final_result = result;

                   }
                   
                   
               },

               divided:function(){
                   var first = Number(this.first);
                   var second = Number(this.second);
                   this.first='';
                   this.second='';
                   var result = first/second;
                   if(isNaN(result)){
                    this.final_result = '';
                      return this.error = 'please valid number';
                      
                   }else{
                    this.error ='';
                    return this.final_result = result;

                   }
                   
                   
               }
           }
        });
    </script>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</body>
</html>